body {
    background-image: url("prayer.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: white;
    max-width: 400px;
    margin: auto;
    border: 0px solid black;
    border-radius: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.container2 {
    background: rgb(255, 200, 250);
    max-width: 360px;
    margin: auto;
    border: 0px solid black;
    padding: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 80%;
    margin-bottom: 5px;
    border-radius: 5px;
}

#man-btn {
    background: #222;
}

#woman-btn {
    background: #9329c7;
}

#children-btn {
    background: #888;
}

#save-el {
    background: darkgreen;
}

#save-btn {
    background: #1C7947;
}

#save-el { 
    font-weight: bold;
}

#date-el {
    font-size: 10px;
    font-weight: bold
}
#save-man-el, #save-woman-el, #save-children-el {
    color: #000000;
    text-align: left;
    padding-left: 10px;
    font-weight: 800;
    margin: 14px;
    font-size: 10px;
    text-transform: uppercase;
    
}
#total, #date {
    font-weight: 600;
    padding-top: 0px;
}